
.button-main{
    border-radius: 15px !important;
    background-color: #17A086!important;
    color: #fff!important;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1;
    font-size: 20px;
    padding: 1.25em;
    position: relative;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: 80px;
}

.name-box{
    background-color: #04c93b!important;
    color: #fff!important;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1;
    font-size: 20px;
    padding: 1.25em;
    position: relative;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: 80px;
}

.titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1;
    color:#17A086!important;
    font-size: 30px;
    padding: 1.25em;
}

.add-name{
    border-bottom-style: solid;
    border-bottom-width: 3px ;
    border-bottom-color: #17A086;
    color: #000!important;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1;
    font-size: 20px;
    position: relative;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: 22px;
    padding: 1.25em;

}

.input-name{
    border:none;
    color: #000!important;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1;
    font-size: 20px;
    position: relative;
    text-align: center;
    width: 100%;
    height: 22px;
    outline:none;
}

.button-input{
    border-radius: 10px!important;
    background-color: #17A086!important;
    color: #fff!important;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 0;
    font-size: 20px;
    padding: 1em;
    position: relative;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: 22px;
    margin-top: 10px;
    margin-left: 0px!important;
}

.place-amigo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: left;
    color: #70CFBC!important;
}

.button-alerta{
    border-radius: 10px!important;
    background-color: #D02C61!important;
    color: #fff!important;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 0;
    font-size: 20px;
    padding: 1em;
    position: relative;
    border:none;
    text-align: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-left: 0px!important;
}