
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='css/style-v2.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="{{ url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/font-awesome.min.css')}}" rel="stylesheet">

  </head>

  <body background="/static/sensor_image.png" style="background-size:cover">

    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-md-6">
                <form name="myform" action="/add_friends" id="custom-search-form" class="form-search form-horizontal pull-right" method="post">
                  <input class="username" style="opacity:0;filter:alpha(opacity=0);" type="text" name="identificador_amigo" placeholder="Codigo Manual" autofocus onblur="focusFunc()" id="user"></input>
                </form>
            </div>
        </div>
    </div>
    <a class="navbar-brand" href="/" style="position:absolute; bottom:0;padding: 20px 20px;"><img src="/static/salir.png" width="64"></a>


<!-- 
mantener el focus !!!
    <script type="text/javascript">
        function FocusOnInput()
        {
             document.myform.identificador.focus();
        }
    </script>
-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('static',filename='js/tether.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
    
    <script>
    function focusFunc() {
        $('#user').focus();
    }
    </script>
    
  </body>
</html>