
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='css/style-v2.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="{{ url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet">

  </head>

  <body background="#FFFFFF">

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" onclick="goBack()"><img src="/static/icon-arrow.png"></a>
      <div class="collapse navbar-collapse" id="navbarNav"></div>
    </nav>

    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="/user/group" class="btn button-main">Crear Grupo</a>
            </div>
        </div>
        <div class="row" style="margin-top:20px">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="/user/friends" class="btn button-main">Mi Grupo</a>
            </div>
        </div>
        <div class="row" style="margin-top:20px">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="/alert" class="btn button-main" style="background-color: #b21e45 !important;">Alerta</a>
            </div>
        </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('static',filename='js/tether.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
    
    <script>
      function goBack() {
          window.history.back();
      }
    </script>
    
  </body>
</html>